{% extends 'base.html' %}
{% block body %}
<div class="container bg-light my-4">
<form method="post" action="/contact">
 {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Your Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="yourname" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Group Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="groupname" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Group Description</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="groupdesc">
  </div>
  <div class="input-group mb-3">
  <input type="image" class="form-control" id="inputGroupFile02"required>
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}